<div class="row">
    <form [formGroup]="formLogin" (submit)="send()">
        <div>
            <label for="">Nombres y apellidos</label>
            <input type="text" id="name" formControlName="name">
        </div>
        <div>
            <label for="">Email</label>
            <input type="text" id="email" formControlName="email">
        </div>
        <div>
            <label for="">Mensaje</label>
            <textarea name="" id="mensaje" cols="30" rows="10" formControlName="mensaje"></textarea>
        </div>
        <div>
            <button [disabled]="formLogin.invalid">Confirmar</button>
        </div>
        <div>
            <p *ngIf="CamposCorrectos">Correcto</p>
        </div>
        <div>
            <h3>{{formLogin.value | json}}</h3>
        </div>

    </form>
</div>